beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cycler==0.10.0
Cython==0.29.21
et-xmlfile==1.0.1
filelock==3.0.12
hdbscan==0.8.26
idna==2.10
jdcal==1.4.1
joblib==1.0.0
kiwisolver==1.3.1
matplotlib==3.3.3
numpy==1.19.5
openpyxl==3.0.6
packaging==20.8
pandas==1.2.1
Pillow==8.1.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.5
regex==2020.11.13
requests==2.25.1
sacremoses==0.0.43
scikit-learn==0.24.1
scipy==1.6.0
seaborn==0.11.1
selenium==3.141.0
six==1.15.0
sklearn==0.0
soupsieve==2.1
threadpoolctl==2.1.0
tokenizers==0.9.4
torch==1.7.1
torchaudio==0.7.2
torchvision==0.8.2
tqdm==4.56.0
transformers==4.2.2
typing-extensions==3.7.4.3
urllib3==1.26.2
